---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/date/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import SocialLinks from '../../components/SocialLinks.astro';

import { Order } from 'effect';

const posts = (await getCollection('blog')).sort(
	Order.mapInput(Order.reverse(Order.Date), ({ data }) => data.pubDate),
);
---

<BaseLayout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
>
	<main class="mx-auto my-4 max-w-prose text-xl">
		<section class="pb-4">
			<h1 class="my-5 text-3xl font-bold">Jacob Asper's site!</h1>
			<p>
				I want to add my future book list and thoughts about books I'm reading
				as well as my favorite articles. I'll add my YouTube Series too
			</p>
		</section>

		<section class="py-4">
			<h2 class="mb-4 text-2xl font-semibold">Follow me on my Socials</h2>
			<SocialLinks />
		</section>

		<section class="py-4">
			<h2 class="mb-4 text-2xl font-semibold">Blogs</h2>
			<ul class="flex flex-col gap-8">
				{
					posts.map((post) => (
						<li>
							<a
								href={`${Astro.url}/${post.slug}/`}
								class="block"
							>
								<h4 class="leading-none">{post.data.title}</h4>
							</a>
							<p class="m-0 pt-2 text-foreground-secondary">
								<FormattedDate date={post.data.pubDate} />
							</p>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
