---
import type { Book } from '../content/config';
import FormattedDateRange from './FormattedDateRange.astro';

type Props = {
	slug?: string;
} & Book;

const { slug, title, description, readDate, author } = Astro.props;
---

{
	slug !== undefined ? (
		<a
			href={`${Astro.url}/${slug}/`}
			class="block"
		>
			<h4 class="leading-none">
				{title} by {author}
			</h4>
		</a>
	) : (
		<h4 class="leading-none">
			{title} by {author}
		</h4>
	)
}
<p class="pt-2 text-foreground-secondary">
	{description}
</p>
<p class="text-foreground-secondary">
	<FormattedDateRange
		start={readDate.end}
		end={readDate.start}
	/>
</p>
