---
import type { Book } from '../content/config';
import FormattedDateRange from './FormattedDateRange.astro';
import Rating from './rating/Rating.astro';

type Props = {
	slug?: string;
} & Book;

const { slug, title, description, readDate, author, rating } = Astro.props;
---

{
	(
		<h4 class="leading-none">
			{slug !== undefined ? (
				<a
					href={`${Astro.url}/${slug}/`}
					class="block"
				>
					<cite>{title}</cite>
				</a>
			) : (
				<cite>{title}</cite>
			)}
			{` by ${author}`}
		</h4>
	)
}
<p class="pt-2 text-foreground-secondary">
	{description}
</p>
<div class="flex flex-col justify-between sm:flex-row">
	<p class="text-foreground-secondary">
		<FormattedDateRange
			start={readDate.start}
			end={readDate.end}
		/>
	</p>
	<Rating filled={rating} />
</div>
