---
import { SITE_TITLE, SITE_DESCRIPTION } from '@src/consts';
import BaseLayout from '@layouts/BaseLayout.astro';
import Book from '@components/Book.astro';

import { booksStarted, booksToRead } from '@content/book/books';
---

<BaseLayout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
>
	<main class="mx-auto my-4 max-w-prose text-xl">
		<h1 class="my-5 text-3xl font-bold">Reading List</h1>
		<p class="mb-4">
			This used to be books only, but I've expanded it to any decently sized
			learning experiences, including interactive courses as well! If I see
			something has been left unfinished for too long, that means it's either
			time to throw in the towel or push through to the end!
		</p>
		<p class="mb-4">
			The ratings are how I feel about them. Various factors can affect the
			score, including relevancy, writing style, understandability, vibes, and
			so on. A low score doesn't mean I think a book isn't worth reading!
		</p>
		<section class="py-6">
			<h2 class="mb-4 text-2xl font-semibold">Books I've started</h2>
			<ul class="flex flex-col gap-8">
				{
					booksStarted.map(({ title, readDate, author, rating }) => (
						<li>
							<Book
								title={title}
								readDate={readDate}
								author={author}
								rating={rating}
							/>
						</li>
					))
				}
			</ul>
		</section>
		<section class="py-6">
			<h2 class="mb-4 text-2xl font-semibold">Books I want to read</h2>
			<ul class="flex flex-col gap-8">
				{
					booksToRead.map(({ title, readDate, author, rating }) => (
						<li>
							<Book
								title={title}
								readDate={readDate}
								author={author}
								rating={rating}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
