---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ReadingListItem from '../../components/ReadingListItem.astro';

import { booksWithoutArticles } from '../../content/book/books-without-articles';

import type { Book } from '../../content/config';

const articles = (await getCollection('book')).map(({ slug, data }) => ({
	slug,
	...data,
}));

import { Option, Order } from 'effect';

const byDateDesc = (key: keyof Book) =>
	Order.mapInput(Option.getOrder(Order.reverse(Order.number)), ({ readDate }) =>
		Option.fromNullable(readDate[key]),
	);

const books: ({ slug?: string } & Book)[] = [
	...booksWithoutArticles,
	...articles,
].sort(Order.combine(byDateDesc('end'), byDateDesc('start')));
---

<BaseLayout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
>
	<main class="mx-auto my-4 max-w-prose text-xl">
		<h1 class="my-5 text-3xl font-bold">Reading List</h1>
		<p class="mb-4">
			Here's some books I've read, some I want to read, and some notable
			articles 😀
		</p>
		<p class="mb-4">My goal is to read a technical book a month</p>
		<section class="py-6">
			<h2 class="mb-4 text-2xl font-semibold">Books I've started</h2>
			<ul class="flex flex-col gap-8">
				{
					books.map(({ slug, title, readDate, author, rating }) => (
						<li>
							<ReadingListItem
								slug={slug}
								title={title}
								readDate={readDate}
								author={author}
								rating={rating}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
