---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ReadingListItem from '../../components/ReadingListItem.astro';

import { booksWithoutArticles } from '../../content/blog/books-without-articles';

import type { Book } from '../../content/config';

const articles = (await getCollection('book')).map(({ slug, data }) => ({
	slug,
	...data,
}));

const books: ({ slug?: string } & Book)[] = [
	...booksWithoutArticles,
	...articles,
].sort((a, z) => {
	const zEnd = z.readDate.end?.valueOf() ?? Infinity;
	const aEnd = a.readDate.end?.valueOf() ?? Infinity;
	return zEnd - aEnd;
});
---

<BaseLayout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
>
	<main class="mx-auto my-4 max-w-prose text-xl">
		<h1 class="my-5 text-3xl font-bold">Reading List</h1>
		<p class="mb-4">
			Here's some books I've read, some I want to read, and some notable
			articles 😀
		</p>
		<p class="mb-4">My goal is to read a technical book a month</p>
		<section class="py-6">
			<h2 class="mb-4 text-2xl font-semibold">Books I've started</h2>
			<ul class="flex flex-col gap-8">
				{
					books.map(({ slug, title, description, readDate, author }) => (
						<li>
							<ReadingListItem
								slug={slug}
								title={title}
								description={description}
								readDate={readDate}
								author={author}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
