---
import { SITE_TITLE, SITE_DESCRIPTION } from '@src/consts';
import BaseLayout from '@layouts/BaseLayout.astro';
import Book from '@components/Book.astro';

import { booksStarted, booksToRead } from '@content/book/books';
---

<BaseLayout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
>
	<main class="mx-auto my-4 max-w-prose text-xl">
		<h1 class="my-5 text-3xl font-bold">Reading List</h1>
		<p class="mb-4">
			Here's some books I've read, some I want to read, and some notable
			articles
		</p>
		<p class="mb-4">
			My goal was to read a technical book a month, but books are valuable to a
			point. It's good to push myself, but sometimes I want background without
			compiling the Linux Kernel. Only so much time in the day ya know!
		</p>
		<p class="mb-4">
			The ratings are a mix of relevancy, writing style, and content. Sometimes
			a book isn't all that original but makes me think. Sometimes a book is
			very good but above my level. I won't delineate beyond 5 star ratings
			since book reviews aren't my main goal. Instead, I want to be kept
			accountable and share what I'm learning with others 😀
		</p>
		<section class="py-6">
			<h2 class="mb-4 text-2xl font-semibold">Books I've started</h2>
			<ul class="flex flex-col gap-8">
				{
					booksStarted.map(({ title, readDate, author, rating }) => (
						<li>
							<Book
								title={title}
								readDate={readDate}
								author={author}
								rating={rating}
							/>
						</li>
					))
				}
			</ul>
		</section>
		<section class="py-6">
			<h2 class="mb-4 text-2xl font-semibold">Books I want to read</h2>
			<ul class="flex flex-col gap-8">
				{
					booksToRead.map(({ title, readDate, author, rating }) => (
						<li>
							<Book
								title={title}
								readDate={readDate}
								author={author}
								rating={rating}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
