---
import type { CollectionEntry } from 'astro:content';
import BlogArticle from '@components/BlogArticle.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'] & { emDashCount: number };

const { math, title, description, pubDate, updatedDate, emDashCount } =
	Astro.props as Props;
---

<BaseLayout
	title={title}
	description={description}
	math={math}
>
	<main class="m-auto w-full">
		<BlogArticle
			title={title}
			date={pubDate}
			updatedDate={updatedDate}
			emDashCount={emDashCount}
		>
			<slot />
		</BlogArticle>
	</main>
</BaseLayout>
