---
import type { CollectionEntry } from 'astro:content';
import BlogArticle from '../components/BlogArticle.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { math, title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLayout
	title={title}
	description={description}
	math={math}
>
	<main class="m-auto w-full">
		<BlogArticle
			title={title}
			date={pubDate}
			updatedDate={updatedDate}
		>
			<slot />
		</BlogArticle>
	</main>
</BaseLayout>
