---
import type { CollectionEntry } from 'astro:content';
import BlogArticle from '../components/BlogArticle.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout
	title={title}
	description={description}
>
	<main class="m-auto w-full">
		<BlogArticle
			title={title}
			pubDate={pubDate}
			updatedDate={updatedDate}
			heroImage={heroImage}
		>
			<slot />
		</BlogArticle>
	</main>
</BaseLayout>
